<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="devices" type="MakePdf.Configuration.GenericConfigurationSection`1[[MakePdf.Configuration.DeviceArray, MakePdf]], MakePdf" />
  </configSections>

  <devices default="iPod Touch 4G">
    <device name="iPod Touch 4G">
      <templates>
        <template type="Text" path="Templates\iPodTextTemplate.xml" />
        <template type="Gallery" path="Templates\iPodGalleryTemplate.xsl" />
      </templates>
    </device>
    <device name="Jiayu JY-G3" x="720" y="1280" diagonal="4.5" />
    <device name="Lenovo A706" x="480" y="854" diagonal="4.5" />
    <device name="Jiayu JY-G2s" x="540" y="960" diagonal="4" />
    <device name="ASUS Transformer TF101" x="800" y="1280" diagonal="10.1" />
    <device name="Samsung Galaxy Tab 2 7.0" x="600" y="1024" diagonal="7" />
    <device name="Samsung ATIV XC500" x="768" y="1366" diagonal="11.6" />
  </devices>

  <appSettings>
    <add key="TextTemplate" value="Templates\TextTemplate.xml" />
    <add key="GalleryTemplate" value="Templates\GalleryTemplate.xsl" />
    <add key="Directory" value="d:\localfo\ps" />
    <add key="OpenExplorer" value="True" />
    <add key="TextGallerySplit" value="^pic\:(.+)$" />
    <add key="SaveIntermediateFiles" value="false" />
    <add key="AddDeviceToPdfName" value="false" />
  </appSettings>
</configuration>
